@import url(../bower_components/reset-css/reset.css);
@import url(bootstrap.min.css);
@import url(buttons.css);
/* line 7, ../sass/styles.sass */
a {
  color: inherit;
}
/* line 9, ../sass/styles.sass */
a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 12, ../sass/styles.sass */
ul {
  margin: 0;
}

/* line 16, ../sass/styles.sass */
.hide {
  display: none;
}

/* line 18, ../sass/styles.sass */
.show {
  display: block;
}

/* line 22, ../sass/styles.sass */
.top-block {
  min-height: 460px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #404148;
  display: block;
}
/* line 30, ../sass/styles.sass */
.top-block .main-logo-place {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  z-index: 1;
}
/* line 36, ../sass/styles.sass */
.top-block .main-logo-place .logo-place {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 40, ../sass/styles.sass */
.top-block .main-logo-place .logo-place .logo {
  display: inline-block;
  width: 600px;
  height: 330px;
  background-image: url(../images/logo.png);
}
/* line 45, ../sass/styles.sass */
.top-block .menu-2 {
  width: 270px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -270px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #45464d;
  z-index: 2;
}
/* line 58, ../sass/styles.sass */
.top-block .menu-2 .soc-block {
  background-color: rgba(255, 255, 255, 0.03);
  width: 100%;
  height: 70px;
  display: block;
  text-align: center;
  padding: 10px;
}
/* line 68, ../sass/styles.sass */
.top-block .menu-2 .soc-block .sep {
  display: inline-block;
  height: 100%;
  width: 4px;
}
/* line 72, ../sass/styles.sass */
.top-block .menu-2 .soc-block .vk, .top-block .menu-2 .soc-block .twitter {
  width: 50px;
  height: 50px;
  background-color: #000;
  display: inline-block;
}
/* line 77, ../sass/styles.sass */
.top-block .menu-2 .menu-header {
  height: 70px;
  position: relative;
  width: 100%;
  background-color: #fff;
}
/* line 82, ../sass/styles.sass */
.top-block .menu-2 .menu-header .menu-logo {
  background-image: url(../images/menu-logo.png);
  width: 36px;
  height: 39px;
  margin: 0 auto;
  position: relative;
  top: 15px;
}
/* line 89, ../sass/styles.sass */
.top-block .menu-2 .menu-header .close-btn {
  position: absolute;
  cursor: pointer;
  left: 26px;
  top: 26px;
  background-image: url(../images/menu_close.png);
  width: 18px;
  height: 18px;
}
/* line 99, ../sass/styles.sass */
.top-block .menu-2 ul li a {
  display: block;
  width: 100%;
  height: 70px;
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: none;
  line-height: 20px;
  padding-top: 25px;
  color: #fff;
}
/* line 111, ../sass/styles.sass */
.top-block .menu-2 ul li a span > span span {
  padding: 25px;
}
/* line 114, ../sass/styles.sass */
.top-block .menu-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  z-index: 2;
}
/* line 121, ../sass/styles.sass */
.top-block .menu-1 .open-menu {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
/* line 125, ../sass/styles.sass */
.top-block .menu-1 .buttons {
  position: absolute;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 131, ../sass/styles.sass */
.top-block .menu-1 .buttons a.button {
  display: block;
  cursor: pointer;
  width: 70px;
  height: 50%;
  background-color: #45464d;
  color: #fdfdfd;
  font-size: 15px;
  position: relative;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 146, ../sass/styles.sass */
.top-block .menu-1 .buttons a.button:first-child:after {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  border-bottom: 1px solid #53555e;
  bottom: 0px;
  left: 15px;
}
/* line 154, ../sass/styles.sass */
.top-block .menu-1 .buttons a.button:first-child:hover:after {
  display: none;
}
/* line 156, ../sass/styles.sass */
.top-block .menu-1 .buttons a.button:hover {
  background-color: #fdfdfd;
  color: #45464d;
}
/* line 160, ../sass/styles.sass */
.top-block .menu-1 .buttons a.button .center-align {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}
/* line 165, ../sass/styles.sass */
.top-block .menu-1 .buttons a.button .center-align .center-align1 {
  display: table-cell;
  vertical-align: middle;
}
/* line 168, ../sass/styles.sass */
.top-block .menu-1 .buttons a.button .center-align .center-align1 .vertical-align {
  width: 10px;
  word-wrap: break-word;
  display: inline-block;
}

/* line 173, ../sass/styles.sass */
.dev-block, .design-block, .portfolio, .contact, .contact-me, .footer {
  display: none;
}
