@import url(../bower_components/reset-css/reset.css);
@import url(bootstrap.min.css);
@import url(buttons.css);
/* line 7, ../sass/styles.sass */
a {
  color: inherit;
}
/* line 9, ../sass/styles.sass */
a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 12, ../sass/styles.sass */
ul {
  margin: 0;
}

/* line 15, ../sass/styles.sass */
.clr {
  clear: both;
}

/* line 17, ../sass/styles.sass */
body {
  font-family: "Roboto", sans-serif !important;
}

/* line 19, ../sass/styles.sass */
.goto-block-down, .goto-block-up {
  text-align: center;
  display: block;
  position: absolute;
  top: 100%;
  margin-top: -35px;
  width: 100%;
  z-index: 1;
  height: 35px;
  overflow: hidden;
}
/* line 29, ../sass/styles.sass */
.goto-block-down a.goto, .goto-block-up a.goto {
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.2;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 42, ../sass/styles.sass */
.goto-block-down a.goto:hover, .goto-block-up a.goto:hover {
  opacity: 0.4;
}
/* line 44, ../sass/styles.sass */
.goto-block-down a.goto span, .goto-block-up a.goto span {
  line-height: 40px;
}

/* line 46, ../sass/styles.sass */
.goto-block-up {
  top: 0;
  margin-top: 0;
}
/* line 49, ../sass/styles.sass */
.goto-block-up a.goto {
  background-color: #404148;
  position: relative;
  top: -35px;
}
/* line 53, ../sass/styles.sass */
.goto-block-up a.goto span img {
  position: relative;
  top: 30px;
}

/* line 56, ../sass/styles.sass */
.contact .goto-block-up a.goto {
  background-color: #FFF;
}

/* line 62, ../sass/styles.sass */
.hide {
  display: none;
}

/* line 64, ../sass/styles.sass */
.show {
  display: block;
}

/* line 68, ../sass/styles.sass */
.top-block {
  overflow: hidden;
  min-height: 460px;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #404148;
  display: block;
}
/* line 76, ../sass/styles.sass */
.top-block .main-logo-place {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  z-index: 1;
}
/* line 82, ../sass/styles.sass */
.top-block .main-logo-place .logo-place {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 86, ../sass/styles.sass */
.top-block .main-logo-place .logo-place .logo {
  display: inline-block;
  width: 600px;
  height: 330px;
  background-image: url(../images/logo.png);
  margin-left: -70px;
}
/* line 92, ../sass/styles.sass */
.top-block .menu-2 {
  width: 270px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -270px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #45464d;
  z-index: 2;
}
/* line 105, ../sass/styles.sass */
.top-block .menu-2 .soc-block {
  background-color: rgba(255, 255, 255, 0.03);
  width: 100%;
  height: 70px;
  display: block;
  text-align: center;
  padding: 10px;
}
/* line 112, ../sass/styles.sass */
.top-block .menu-2 .soc-block .sep {
  display: inline-block;
  height: 100%;
  width: 4px;
}
/* line 116, ../sass/styles.sass */
.top-block .menu-2 .soc-block .vk, .top-block .menu-2 .soc-block .twitter {
  width: 50px;
  height: 50px;
  display: inline-block;
  opacity: 0.1;
  transform: scale(0.5);
  -webkit-transition: all 0.1ms;
  -moz-transition: all 0.1ms;
  -ms-transition: all 0.1ms;
  -o-transition: all 0.1ms;
  transition: all 0.1ms;
}
/* line 127, ../sass/styles.sass */
.top-block .menu-2 .soc-block .vk:hover, .top-block .menu-2 .soc-block .twitter:hover {
  opacity: 0.4;
}
/* line 129, ../sass/styles.sass */
.top-block .menu-2 .soc-block .vk {
  background-image: url(../images/soc/vk.png);
}
/* line 131, ../sass/styles.sass */
.top-block .menu-2 .soc-block .twitter {
  background-image: url(../images/soc/tw.png);
}
/* line 133, ../sass/styles.sass */
.top-block .menu-2 .menu-header {
  height: 70px;
  position: relative;
  width: 100%;
  background-color: #fff;
}
/* line 138, ../sass/styles.sass */
.top-block .menu-2 .menu-header .menu-logo {
  background-image: url(../images/menu-logo.png);
  width: 36px;
  height: 39px;
  margin: 0 auto;
  position: relative;
  top: 15px;
}
/* line 145, ../sass/styles.sass */
.top-block .menu-2 .menu-header .close-btn {
  position: absolute;
  cursor: pointer;
  left: 26px;
  top: 26px;
  background-image: url(../images/menu_close.png);
  width: 18px;
  height: 18px;
}
/* line 155, ../sass/styles.sass */
.top-block .menu-2 ul li a {
  display: block;
  width: 100%;
  height: 70px;
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: none;
  line-height: 20px;
  padding-top: 25px;
  color: #fff;
}
/* line 167, ../sass/styles.sass */
.top-block .menu-2 ul li a span > span span {
  padding: 25px;
}
/* line 170, ../sass/styles.sass */
.top-block .menu-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  z-index: 2;
}
/* line 177, ../sass/styles.sass */
.top-block .menu-1 .open-menu {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
/* line 181, ../sass/styles.sass */
.top-block .menu-1 .buttons {
  position: absolute;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 187, ../sass/styles.sass */
.top-block .menu-1 .buttons a.button {
  display: block;
  cursor: pointer;
  width: 70px;
  height: 50%;
  background-color: #45464d;
  color: #fdfdfd;
  font-size: 15px;
  position: relative;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 202, ../sass/styles.sass */
.top-block .menu-1 .buttons a.button:first-child:after {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  border-bottom: 1px solid #53555e;
  bottom: 0px;
  left: 15px;
}
/* line 210, ../sass/styles.sass */
.top-block .menu-1 .buttons a.button:first-child:hover:after {
  display: none;
}
/* line 212, ../sass/styles.sass */
.top-block .menu-1 .buttons a.button:hover {
  background-color: #fdfdfd;
  color: #45464d;
}
/* line 216, ../sass/styles.sass */
.top-block .menu-1 .buttons a.button .center-align {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}
/* line 221, ../sass/styles.sass */
.top-block .menu-1 .buttons a.button .center-align .center-align1 {
  display: table-cell;
  vertical-align: middle;
}
/* line 224, ../sass/styles.sass */
.top-block .menu-1 .buttons a.button .center-align .center-align1 .vertical-align {
  width: 10px;
  word-wrap: break-word;
  display: inline-block;
}

@media screen and (max-width: 1000px) and (min-width: 501px) {
  /* line 232, ../sass/styles.sass */
  .buttons {
    display: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  /* line 239, ../sass/styles.sass */
  .logo {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
}
@media screen and (max-width: 500px) {
  /* line 252, ../sass/styles.sass */
  .dev-block p, .des-block p {
    font-size: 16px;
  }
  /* line 254, ../sass/styles.sass */
  .dev-block h2, .des-block h2 {
    font-size: 36px;
    font-weight: bold;
  }

  /* line 257, ../sass/styles.sass */
  .goto-block-down, .goto-block-up {
    display: none;
  }

  /* line 259, ../sass/styles.sass */
  .buttons {
    display: none;
  }

  /* line 261, ../sass/styles.sass */
  .logo {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
}
@media screen and (min-width: 1000px) {
  /* line 275, ../sass/styles.sass */
  .dev-block p, .des-block p {
    font-size: 20px;
  }
  /* line 277, ../sass/styles.sass */
  .dev-block h2, .des-block h2 {
    font-size: 60px;
    font-weight: bold;
  }

  /* line 280, ../sass/styles.sass */
  .buttons {
    display: block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  /* line 287, ../sass/styles.sass */
  .logo {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
}
/* line 302, ../sass/styles.sass */
.dev-block, .des-block, .portfolio, .contact, .other-block {
  height: 100vh;
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* line 308, ../sass/styles.sass */
.dev-block .in-global-block, .des-block .in-global-block, .portfolio .in-global-block, .contact .in-global-block, .other-block .in-global-block {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 313, ../sass/styles.sass */
.dev-block .in-global-block .in, .des-block .in-global-block .in, .portfolio .in-global-block .in, .contact .in-global-block .in, .other-block .in-global-block .in {
  display: table-cell;
  vertical-align: middle;
}

/* line 317, ../sass/styles.sass */
.dev-block .col-lg-6:first-child {
  text-align: center;
}

/* line 320, ../sass/styles.sass */
.des-block .col-lg-6:last-child {
  text-align: center;
}

/* line 323, ../sass/styles.sass */
.contact, .other-block {
  background-color: #4fb1a4;
  color: #fff;
}
/* line 326, ../sass/styles.sass */
.contact .centered, .other-block .centered {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
/* line 331, ../sass/styles.sass */
.contact .centered .text, .other-block .centered .text {
  padding: 20px 30px;
  border: 2px solid #fff;
  font-size: 26px;
  font-weight: bold;
  display: inline-block;
}
/* line 337, ../sass/styles.sass */
.contact .block, .other-block .block {
  display: block;
  width: 100%;
  text-align: center;
}
/* line 341, ../sass/styles.sass */
.contact .block .in-block, .other-block .block .in-block {
  display: inline-block;
}
/* line 343, ../sass/styles.sass */
.contact .block .in-block li, .other-block .block .in-block li {
  font-size: 28px;
  margin-right: 30px;
}
@media screen and (max-width: 1015px) {
  /* line 343, ../sass/styles.sass */
  .contact .block .in-block li, .other-block .block .in-block li {
    float: none;
  }
}
@media screen and (min-width: 1016px) {
  /* line 343, ../sass/styles.sass */
  .contact .block .in-block li, .other-block .block .in-block li {
    float: left;
  }
}
/* line 350, ../sass/styles.sass */
.contact .block .in-block li:first-child, .other-block .block .in-block li:first-child {
  margin-right: none;
}
/* line 352, ../sass/styles.sass */
.contact .block .in-block span, .other-block .block .in-block span {
  float: left;
  line-height: 100px;
  vertical-align: middle;
}
/* line 356, ../sass/styles.sass */
.contact .block .in-block span.skype-img, .contact .block .in-block span.email-img, .contact .block .in-block span.phone-img, .other-block .block .in-block span.skype-img, .other-block .block .in-block span.email-img, .other-block .block .in-block span.phone-img {
  width: 100px;
  height: 100px;
  display: inline-block;
  float: left;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
/* line 366, ../sass/styles.sass */
.contact .block .in-block span.skype-img, .other-block .block .in-block span.skype-img {
  background-image: url(../images/contact/Skype.png);
}
/* line 368, ../sass/styles.sass */
.contact .block .in-block span.email-img, .other-block .block .in-block span.email-img {
  background-image: url(../images/contact/mail.png);
}
/* line 370, ../sass/styles.sass */
.contact .block .in-block span.phone-img, .other-block .block .in-block span.phone-img {
  background-image: url(../images/contact/phone.png);
}

/* line 373, ../sass/styles.sass */
.other-block .block .in-block {
  font-size: 24px;
}
/* line 375, ../sass/styles.sass */
.other-block .block .in-block a {
  background-color: #fff;
  color: #4fb1a4;
  padding: 4px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 384, ../sass/styles.sass */
.other-block .block .in-block a:hover {
  color: #fff;
  background-color: transparent;
}

/* line 388, ../sass/styles.sass */
.other-block .in .bottom {
  position: absolute;
  bottom: 50px;
}
/* line 391, ../sass/styles.sass */
.other-block .in .bottom .text {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 397, ../sass/styles.sass */
.other-block .in .bottom .text:hover {
  color: #4fb1a4;
  background-color: #FFF;
}
