@import "vars"

// ********************   top block   *********************
.top-block
  width: 100%
  height: 100vh
  background-color: $dark
  display: block


  // ****************** OLD CODE HERE *********************
  //
  //.menu-right
  //  text-align: right
  //  float: right
  //  height: 100%
  //  width: 20%
  //  //display: none
  //  background-color: $contact
  //  color: $contact-text
  //  .close-right
  //    display: inline-block
  //    padding: 10px
  //    cursor: pointer
  //  ul
  //    display: block
  //    text-align: center
  //    padding: 0
  //    margin: 0
  //    a
  //      color: inherit
  //      &:hover
  //        text-decoration: none
  //      li
  //        list-style: none
  //        padding: 10px 0
  //        margin-right: 0
  //        font-size: 16px
  //        &:hover
  //          background-color: rgba(255, 255, 255, 0.16)
// ******************** top block end *********************