// ******************* variables begin ********************

$dark: #404148
$text: #868686
$white: #fff
$not-white: #fafafa
$contact: #4fb1a4
$contact-text: #c5ffff
$contact-white: #fffafd

// ******************** variables end *********************
//*********************   operations  *********************

$lightThanDark: lighten($dark, 2) // menu-1 background
$darkForBorder: darken($white, 20) // separator for menu-1
$darkerThanWhite: darken($white, 0.9) //menu-1 color